{% extends 'base.html' %}

{% block title %}My tasks{% endblock title %}
{% block content %}
<main>
    <div>
        <h1>My Tasks</h1>
        <table>
            {% for task in my_tasks %}
            <tr>
                <th>Name</th>
                <th>Start date</th>
                <th>Due date</th>
                <th>Is completed</th>
            </tr>
            <tbody>
                <tr>
                    <td>{{ task.name }}</td>
                    <td>{{ task.start_date }}</td>
                    <td>{{ task.due_date }}</td>
                    <td>{{ task.is_completed|yesno }}</td>
                </tr>
                {% empty %}
                <p>You have no tasks</p>
                {% endfor %}
            </tbody>
        </table>
    </div>
</main>

{% endblock content %}