{% extends 'base.html' %}

{% block title %}Project Details{% endblock title %}
{% block content %}
<main>
    <div>
        <h1>{{ project_details.name }}</h1>
        <p>{{ project_details.description }}</p>
        <h2>Tasks</h2>
        <p>
            <a href="{% url 'create_task' %}">Create a new task</a>
        </p>
        <table>
            {% for task in project_details.tasks.all %}
            <tr>
                <th>Name</th>
                <th>Assignee</th>
                <th>Start date</th>
                <th>Due date</th>
                <th>Is completed</th>
            </tr>
            <tbody>
                <tr>
                    <td>{{ task.name }}</td>
                    <td>{{ task.assignee }}</td>
                    <td>{{ task.start_date }}</td>
                    <td>{{ task.due_date }}</td>
                    <td>{{ task.is_completed|yesno }}</td>
                </tr>
                {% empty %}
                <p>This project has no tasks.</p>
                {% endfor %}
            </tbody>
        </table>
    </div>
</main>
{% endblock content %}